body {
    background-color:rgb(7 12 46);
}

.contenedor {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 30px;
}

.contenedor-foto {
    display: flex;
}

.contenedor-foto h1 {
    width: 100%;
    margin: auto;
    text-align: left;
}

.contenedor-foto img {
    margin: 10px;
    width: 30%;
}

.contenedor-info {
    padding: 30px;
    margin: auto;
}




.links {
    margin: auto;
}

.links a {
    color: black;
}

.links li {
    color: black;
}

.links li:hover {
    font-weight: 600;
}



.tabla {
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

.tabla th {
    padding: 10px 0;
}

.tabla td {
    padding: 10px 5px;
    border-top: 1px solid black;
}


.habilidades {
    line-height: 30px;
}


form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

form p {
    display: flex;
}

form button {
    width: 10%;
}


.grupo {
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}